@import "./variables/colours.css";
@import "./variables/fonts.css";

/*general styles ----*/
body {
  position: relative;
  margin: 0;
}
h1 {
  position: relative;
  font-family: var(--headings);
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h2,
h3 {
  position: relative;
  font-family: var(--headings);
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--black);
}
h3 {
  color: var(--white);
  font-size: 1.4rem;
}
h4 {
  font-family: var(--headings);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--black);
  margin: 0.5rem 0;
  text-align: center;
}
p {
  font-family: var(--body);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 28px;
  text-transform: none;
  color: var(--black);
}

.container,
.footer-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
/*headings styles ----*/
.h2-heading-container,
.h3-heading-container {
  display: flex;
  justify-content: center;
}
.heading-icon {
  width: 15px;
  height: 20px;
  padding-top: 40px;
}
.h3-icon {
  padding-top: 90px;
  padding-right: 10px;
}
.top-picks-icon {
  padding-top: 50px;
}

/*Nav styles ----*/
header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.logo-container {
  margin: 0 auto;
  width: auto;
}
.logo {
  width: 200px;
}
nav,
#hamburger-menu {
  display: none;
}
nav ul {
  padding: 0;
}
nav li {
  display: block;
  padding: 10px 20px;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--headings);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: var(--black);
  display: block;
}
nav i {
  color: var(--sand);
  padding: 0 10px;
}
nav a:hover,
.current {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--sand);
}
.hamburger-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--sand);
  padding: 20px;
  font-size: 1.5em;
  display: block;
}
#hamburger-menu:checked ~ .main-navigation {
  display: flex;
  order: 2;
}
#hamburger-menu:checked ~ .account-navigation {
  display: flex;
  order: 3;
}
/*jumbotron styling ----*/

.jumbotron__text {
  display: flex;
  position: absolute;
  top: 200px;
  left: 0px;
  padding: 0 20px;
  color: var(--white);
  background-color: var(--green);
}
.jumbotron-icon {
  width: 25px;
  height: 30px;
  padding-top: 190px;
}

/*cta-button styling ----*/
.cta-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.cta-button {
  font-family: var(--body);
  font-style: normal;
  color: var(--black);
  background-color: var(--yellow);
  border: none;
  text-shadow: none;
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.cta-button:hover {
  background-color: #eecc89;
}
.product-button {
  margin-bottom: 20px;
  width: 100%;
}

/*product grid styling ----*/
.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 50px 20px;
  padding: 0 20px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 500px;
}
.img-container {
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 280px;
  background-position: bottom;
  background-size: cover;
  transition: transform 0.2s;
}
.product-img:hover {
  transform: scale(1.2);
}
.product a {
  text-decoration: none;
}
.product p {
  color: var(--white);
}
/*subscribe section styling ----*/
.subscribe-section {
  background-color: var(--blue);
  padding: 50px 0;
}
.subscribe-section h3,
.subscribe-section p {
  color: var(--white);
  text-align: center;
}
.subscribe-form {
  max-width: 350px;
  margin: 0 auto;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
#email {
  width: 220px;
  height: 50px;
  padding: 0 10px;
  border: none;
  font-size: 1rem;
}
#email:focus-visible {
  outline-color: var(--sand);
}
::placeholder {
  font-family: var(--body);
  font-style: normal;
  color: var(--sand);
  font-size: 1.4rem;
}
#subscribe {
  width: 110px;
  height: 50px;
  padding: 10px;
  font-family: var(--body);
  font-style: normal;
  color: var(--black);
  background-color: var(--sand);
  border: 2px solid var(--sand);
  font-size: 1.3rem;
}
#subscribe:hover {
  background-color: var(--white);
}

/*footer styling ----*/
footer h3 {
  color: var(--black);
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 20px;
}
.footer-logo-container {
  width: 250px;
  margin: 0 auto;
}
.footer-logo {
  width: 250px;
}
.social-links {
  display: flex;
  justify-content: space-around;
}
.social-links i {
  color: var(--sand);
  font-size: 2rem;
  padding: 15px 5px;
}
.link-button {
  border: 2px solid var(--sand);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  transition: transform 0.2s;
}
.link-button:hover {
  transform: scale(1.2);
}
.footer-link {
  display: block;
  text-decoration: none;
  color: var(--sand);
  font-family: var(--body);
  line-height: 28px;
  font-style: normal;
  font-size: 1.4rem;
}
.footer-link:hover {
  color: var(--black);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--sand);
}
.extra-links-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 20px;
}

/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
  h1 {
    letter-spacing: 6px;
  }
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
  .jumbotron__text {
    left: 20px;
  }
}
/*  Desktop screen sizes-------------*/
@media (min-width: 861px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hamburger-label {
    display: none;
  }
  nav {
    display: flex;
  }
  .main-navigation {
    justify-content: flex-start;
    padding-left: 20px;
  }
  .account-navigation {
    justify-content: flex-end;
    padding-right: 20px;
  }
  nav ul {
    display: flex;
    align-items: center;
  }
  nav li {
    display: inline-block;
    padding: 0 10px;
  }
  nav a {
    font-size: 1.1rem;
    letter-spacing: 0px;
  }
  .footer-container {
    flex-direction: row;
  }
  .extra-links-container {
    justify-content: space-evenly;
    flex-grow: 2;
    padding: 0;
    margin-top: 0;
  }
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 0;
  }
}
/* Extra Large Screens-------------*/
@media only screen and (min-width: 1281px) {
  .main-navigation {
    padding-left: 100px;
  }
  .account-navigation {
    padding-right: 100px;
  }
  nav li {
    padding: 0 20px;
  }
}
/*
  -------------*/
/*
  -------------*/
